* {
    font-family: "Roboto", "Verdana", "Calibri", sans-serif;
    line-height: 1.5;
}

h1 {
    margin-top: 0;
}

ul {
    margin-bottom: 0;
}

h1, h2 {
    background: #fc9709;
    color: white;
    text-align: center;
    padding: 1%;
    box-shadow: 2px 2px 5px #666666;
    text-shadow: 1px 1px 1px #666666;
    border-radius: 20px/50%;
    margin-bottom: 35px;
}

.padding-lr20 {
    padding-left: 20px;
    padding-right: 20px;
}

section {
    margin-bottom: 50px;
}

table, th, td {
    border: 2px solid #997711;
    border-collapse: collapse;
}

table {
    width: 95%;
    text-align: center;
    background: linear-gradient(#ffe3a6, #ffb44b);
    box-shadow: 2px 2px 5px #666666;
    margin: 5% auto;
}

li {
    box-shadow: 2px 2px 5px #666666;
    margin-top: 15px;
    padding: 2%;
    font-size: large;
    background: #eeeeee;
}

ul {
    list-style-type: none;
}

img {
    margin: auto;
    display: block;
}

@media (min-width: 576px) {
    .tabellenbehaelter {
        display: flex;
        justify-content: space-around;
    }

    table {
        width: 45%;
        margin: 0;
    }

    img {
        float: right;
        padding: 1%;
    }
}

@media (min-width: 1200px) {
    .hauptbehaelter {
        background: white;
        width: 50%;
        margin: 0px auto;
        padding: 1.5% 1%;
        box-shadow: 2px 2px 5px #666666;
    }

    body {
        background: #fc9709 url("bilder/hintergrund.jpg") fixed;
        margin: 0;
    }

    li {
        background: #eeeeee url("bilder/pokeball.png");
        background-size: 3%;
        background-repeat: no-repeat;
        background-position: 1.5% center;
        padding-left: 6%;
    }
}